# Google Sheet creada para las inscripciones de la web
GOOGLE_SHEETS_SPREADSHEET_ID=1hTLD_GAu1ctlT3SkHLwMwLMhGznhI2AXD39deRfvU4E

# Cuenta de servicio de Google Cloud con acceso de editor a la planilla.
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
